*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
   width: 100%;
   height: 700px;
}
html{
    font-family: 'Roboto', sans-serif';
}

.container{
    width: 100vw;
    height: 700px;
    background-image: url("../../assets/img/inicio.jpg");
    background-size: cover;
}

nav{
    width: 100%;
    height: 90px;
    background-color: black;
}
nav:hover{
    background-color: white;
}

ul{
    display: flex;
    justify-content: flex-end;
}
li{
    margin-top:24px;
    margin-right:64px;
}
li , a{
    text-decoration: none;
    list-style: none;
}
a{
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border:none;
    padding:10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 10px 10px 2px rgb(0, 0, 0);
    width: 300px;
}

a:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}


/*  Text-center , titulo   */
.container-text-main{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
}
.text-center{
    text-align: center;
    color:white;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}
.btn-login{
    margin-left: 60px;
}


/*  sobre - nosotros */
.seccion-sobre-ns{
    margin-top: 30px;
}

.container-sobre-nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.container-text-sobre-nosotros{
  display: flex;
  justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-img-sobre-nosotros , img{
    width: 600px;
    margin:0 auto;
}

.container-text-sobre-nosotros , p{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

/*  form contact */




/* Cards */
.container-main-cards{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.container-herencia{
    width: 500px;
    height: 500px;
    background: rgb(0, 0, 0);
    border: 5px solid black;
    border-radius: 15px;
    margin:30px;
}
.container-herencia:hover{
    background-color:white
}
.img-herencia{
    width: 490px;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 15px;
}

/* buttonjs de card*/
.container-btn{
    display: flex;
    justify-content: center;
    align-content: center;
}
button{
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
button:hover{
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/* Phone media queryss*/
@media screen and (max-width: 970px){
    nav{
        height: 50px;
        background-color: black;        
   }
 
   .text-center{
    font-size: 60px;
   }
    .nav-lst{
        display:none;
    }
    .container-sobre-nosotros{
        grid-template-columns: 1fr;
        flex-direction: column;
    }
    .container-img-sobre-nosotros , img{
        width: 300px;
    }
    .container-text-sobre-nosotros , p{
        margin: 6px;
    }
    
    textarea{
        width: 300px;
        height: 300px;
    }
    .container-herencia{
        width: 300px;
        height: 480px;
    }
    .img-herencia
    {
        width: 290px;
        height: 390px;
    }
  
    /* ACOMODAR LOS ESTILOS DE LOS BOTONES DE LAS TARJETAS*/   
    a{
        font-size:15px;
        padding: 15px;
        width: 200px;
        height: 30px;
    }
}